<div class="header flex justify-center items-center p-4">
  <%= link_to root_path do %>
    <%= inline_svg_tag   "3commaass-logo-transparent.svg",
    class: "logo w-12 sm:w-16 md:w-20 lg:w-24 mx-auto",
    aria: { label: "Home" } %>
  <% end %>
</div>

